<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trello Board Changes</title>
    <link rel="stylesheet" href="../style/approve.css">
  </head>
  <body>
    <div id="changeTypeHeader" class="change-type-header">Select a Ticket</div>

    <div id="ticketList" class="ticket-list"></div>

    <div id="details" class="details" style="display: none">
      <div id="description"></div>
      <div class="actions">
        <button class="action-btn" onclick="approveChange()">✔</button>
        <button class="action-btn" onclick="rejectChange()">✖</button>
      </div>
    </div>

    <div id="content"></div>

    <script src="../script/approve.js"></script>
  </body>
</html>